.header-page {
    background-color: #ec1d24;
    text-align: center;
    position: relative;
    min-height: 300px;
    max-height: 350px;
}

.header-page>img {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    margin-top: 10px;
    border: 7px solid white;
    position: absolute;
    z-index: 1;
    margin: 10px;
    left: 0;
    bottom: -99px;
    -webkit-box-shadow: 3px 3px 10px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 3px 10px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 3px 10px -2px rgba(0, 0, 0, 0.75);
}

.header-page>h1 {
    background-color: white;
    width: fit-content;
    padding: 10px;
    margin-left: auto;
    transform: rotate(-4deg);
    -webkit-box-shadow: 3px 3px 10px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 3px 10px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 3px 10px -2px rgba(0, 0, 0, 0.75);
}

.content-character {
    margin: 120px 0 120px 35px;
}

.content-character>.description {
    margin: auto;
    text-align: center;
}

.comic {
    margin: 10px;
    width: 100px;
    height: 100px;
    text-align: center;
    background: white;
    align-items: center;
    font-size: x-small;
    position: relative;
    display: table;
    overflow: hidden;
}

.comic:hover {
    background-color: black;
    cursor: pointer;
    transform: scale(1.05);
    transition: all 200ms;
    -webkit-box-shadow: 5px 5px 1px -1px rgba(236, 29, 36, 1);
    -moz-box-shadow: 5px 5px 1px -1px rgba(236, 29, 36, 1);
    box-shadow: 5px 5px 1px -1px rgba(236, 29, 36, 1);
}

.comic:hover>.name {
    color: white;
}

.comic>.name {
    width: fit-content;
    padding: 10px;
    display: table-cell;
    margin: 0;
    vertical-align: middle;
}

.subtitle {
    border-bottom: 4px solid #ec1d24;
    margin: 20px 0 20px 0;
    -webkit-box-shadow: 2px 3px 4px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 3px 4px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 3px 4px -2px rgba(0, 0, 0, 0.75);
}

.text-subtitle {
    background-color: #ec1d24;
    display: table;
    font-size: 15pt;
    color: white;
    padding: 6px;
    border-radius: 8px 8px 0 0;
}

.btn-ramdom {
    background-color: #EC1D24;
    color: white !important;
    border-radius: 1px;
    text-transform: uppercase;
    position: absolute;
    bottom: -50px;
    right: 15px;
    max-height: 38px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-ramdom:hover {
    -webkit-box-shadow: 3px 3px 10px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 3px 10px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 3px 10px -2px rgba(0, 0, 0, 0.75);
}