<div class="header-page">
    <img [src]="character?.thumbnail.path+'.'+character?.thumbnail.extension" alt="character-image" height="180x" width="180x">
    <h1 class="title">{{character?.name}}</h1>
    <a *ngIf="character" class="btn btn-ramdom" (click)="actionComicsRamdom()">Add comics ramdom</a>
</div>

<div class="content-character m-8">
    <div class="subtitle">
        <div class="text-subtitle">Description</div>
    </div>
    <div *ngIf="character?.description" [innerHTML]="character.description" class="description"></div>
    <div *ngIf="!character?.description" class="description">No description to display</div>

    <div class="subtitle">
        <div class="text-subtitle">Comics related</div>
    </div>
    <div *ngIf="character" class="comics row m-0 justify-content-center">
        <div *ngFor="let comic of character.comics.items" class="comic" (click)="actionComicSelected(comic)">
            <div class="name">{{comic.name}}</div>
        </div>
        <h1 *ngIf="character && character.comics.items.length == 0">No data to display</h1>
    </div>
</div>


<ramdom-comics *ngIf="character" [character]="character"></ramdom-comics>