<topbar></topbar>
<div class="wrapper">
    <div class="row central-content">
        <div class="characters col-lg-9 p-0">
            <router-outlet></router-outlet>
        </div>

        <div class="favourites col-lg-3 p-0">
            <favsbar></favsbar>
        </div>
    </div>
</div>
<app-footer></app-footer>
<comic-details></comic-details>