.coverpage {
    width: 250px;
    height: 350px;
}

.text {
    font-size: 10pt;
}

.btn-add {
    background-color: #F4F4F4;
    color: #716A69 !important;
}

.btn-added {
    background-color: #322827;
    color: #EC1D24 !important;
}

.btn-added:hover {
    opacity: 1 !important;
    cursor: auto !important;
}

.btn-buy {
    background-color: #DCDCDC;
    color: #EC1D24 !important;
    text-decoration: none;
}