<div class="modal fade" id="modalComicDetail" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-custom-width" role="document">
        <div *ngIf="comic" class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <img src="assets/images/icons/btn_close.png" alt="icon_close">
                  </button>
                <div class="row mt-4 text-center">
                    <div class="col-lg-5">
                        <img class="coverpage" [src]="comic.thumbnail.path + '.' + comic.thumbnail.extension" alt="image-comic">
                    </div>
                    <div class="col-lg-7">
                        <div class="information ml-3">
                            <h4>{{comic.title|uppercase}}</h4>
                            <div class="text" *ngIf="comic.description" [innerHTML]="comic.description"></div>
                            <div class="text" *ngIf="!comic.description">No description to display</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m-0">
                <a class="col-sm-6 d-flex p-3 btn-modal" [ngClass]="{'btn-add': !added, 'btn-added': added}" (click)="actionAdd()">
                    <img *ngIf="!added" src="assets/images/icons/btn_favourites_default.png" alt="icon default">
                    <img *ngIf="added" src="assets/images/icons/btn_favourites_primary.png" alt="icon default">
                    <h6 class="ml-2 mb-0">{{added ? 'ADDED TO FAVOURITES':'ADD TO FAVOURITES'}}</h6>
                </a>
                <a target="_blank" href="#" class="col-sm-6 d-flex p-3 btn-modal btn-buy">
                    <img src="assets/images/icons/shopping_cart_primary.png" alt="icon buy">
                    <h6 class="ml-2 mb-0">BUY FOR ${{price}}</h6>
                </a>
            </div>
        </div>
        <div *ngIf="!comic" class="modal-content">
            Loading...
        </div>
    </div>
</div>