nav {
    -webkit-box-shadow: -3px 9px 10px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -3px 9px 10px -5px rgba(0, 0, 0, 0.75);
    box-shadow: -3px 9px 10px -5px rgba(0, 0, 0, 0.75);
    z-index: 1;
}

.navbar>.logo {
    cursor: pointer;
    position: absolute;
    left: 20px;
    bottom: -1px;
}

.input-search {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 3px;
    border-radius: 2px;
    -webkit-box-shadow: 0px 3px 5px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 3px 5px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 3px 5px -2px rgba(0, 0, 0, 0.75);
}

.input-search>input {
    border: 0;
    padding: 8px;
    width: 100%;
    outline: none;
    font-family: sans-serif;
}

.input-search>img {
    height: 40px;
    width: 40px;
    vertical-align: top;
}