.character-card {
    background: white;
    position: relative;
}

.character {
    position: relative;
    left: -18px;
    top: -18px;
    min-height: 205px;
    display: flex;
}

.character-card:hover>.character>.information>h4 {
    color: #EC1D24;
}

.character>img {
    max-height: 180px;
    width: 180px;
    border-radius: 90px;
    -webkit-box-shadow: 3px 3px 10px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 3px 10px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 3px 10px -2px rgba(0, 0, 0, 0.75);
}

.text {
    height: 100px;
    overflow: auto;
}

.btn-more {
    background-color: #EC1D24;
    color: white !important;
    border-radius: 1px;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    max-height: 38px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-more:hover {
    -webkit-box-shadow: 3px 3px 10px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 3px 10px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 3px 10px -2px rgba(0, 0, 0, 0.75);
}

.link-related {
    color: #716A69 !important;
    font-size: 9pt;
    width: 50%;
    padding-bottom: 10px;
    padding: 10px;
}

.link-related:hover {
    color: #EC1D24 !important;
    background-image: url("/assets/images/icons/link_arrow.png");
    background-repeat: no-repeat;
    background-position-x: 15px;
    background-position-y: 8px;
    padding-left: 40px;
    cursor: pointer;
}

.related {
    padding: 1rem;
    overflow: auto;
    height: 170px;
}

.character-min {
    display: block;
    padding-bottom: 35px;
}

.character-min>.information {
    padding: 10px;
}

.character-min>.information>h4 {
    max-height: 27px;
    overflow: hidden;
}

.card-min>.related {
    overflow: hidden;
    position: relative;
    height: 0;
    padding: 0;
}

.card-min>.related::before {
    content: '';
    width: 90%;
    top: 0;
    height: 1px;
    position: absolute;
    border: 1px solid #f1f1f1;
}

.card-min>.open-related {
    height: 160px;
    overflow: auto;
    transition: all 1s ease;
    padding: 1rem;
}

.card-min>.close-related {
    height: 0;
    overflow: auto;
    transition: all 1s ease;
    padding: 0;
}

.related-expand-button {
    display: none;
}

.card-min>.character>.related-expand-button {
    display: block;
    content: url('/assets/images/icons/btn_arrow_bottom.png');
    width: 40px;
    height: 40px;
    padding: 12px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    bottom: -38px;
    right: -15px;
    z-index: 1;
    -webkit-box-shadow: 1px 2px 11px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 2px 11px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 2px 11px -4px rgba(0, 0, 0, 0.75);
}

.card-min>.character>.related-expand-button:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.card-min>.character>.active {
    transform: rotate(180deg);
    transition: all 200ms;
}

.card-min>.character>.inactive {
    transform: rotate(0deg);
    transition: all 200ms;
}