<div class="character-card" [ngClass]="{'card-min': cardMin}">
    <div class="character" [ngClass]="{'character-min': cardMinShip}">
        <img [src]="character.thumbnail.path+'.'+character.thumbnail.extension" alt="character-image">
        <div class="information ml-3">
            <h4>{{character.name | uppercase }}</h4>
            <div *ngIf="character.description.length > 0" class="text" [innerHTML]="character.description"></div>
            <div *ngIf="character.description.length == 0" class="text">No data to display</div>
            <a class="btn btn-more" routerLink="/app/character/{{character.id}}">View More</a>
        </div>
        <div class="related-expand-button" [ngClass]="{'active': expandRelated, 'inactive': !expandRelated}" (click)="expandRelated = !expandRelated"></div>
    </div>
    <div class="related" [ngClass]="{'open-related': expandRelated,'close-related': !expandRelated}">
        <h5 class="text-grey">Related Comics</h5>
        <div class="row p-3">
            <a *ngFor="let comic of character.comics.items" (click)="actionSelectComic(comic)" class="link-related">{{comic.name}}</a>
        </div>
    </div>
</div>