<div class="head d-flex justify-content-between p-4">
    <div class="title d-flex align-items-center">
        <img src="assets/images/icons/favourites.png" alt="icon-character">
        <h3>My Favourites</h3>
    </div>
</div>

<div *ngIf="_cS.comicsFavs.length > 0" class="favourites-items">
    <comic *ngFor="let comic of _cS.comicsFavs; let i = index" [comic]="comic" (event)="eventComic($event, i)"></comic>
</div>

<div *ngIf="_cS.comicsFavs.length == 0">
    <h5 class="text text-center text-light p-5">No data to display</h5>
</div>