.search-tools {
    background-color: #ec1d24;
    text-align: center;
    position: relative;
}

.search-tools>img {
    width: 80%;
    height: 80%;
    max-width: 400px;
    max-height: 400px;
}

.input-search {
    position: absolute;
    bottom: -30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 3px;
    border-radius: 2px;
    -webkit-box-shadow: 0px 3px 5px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 3px 5px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 3px 5px -2px rgba(0, 0, 0, 0.75);
}

.input-search>input {
    border: 0;
    padding: 13px;
    font-size: 15pt;
    font-weight: bolder;
    width: 100%;
    outline: none;
    font-family: sans-serif;
}

.input-search>img {
    height: 40px;
    width: 40px;
    vertical-align: top;
}

.content-results {
    padding-top: 8%;
    min-height: calc(100vh - 600px);
    background-color: #F4F4F4;
}

.items {
    margin-left: 10px !important;
    border-left: 4px solid red;
}