<div class="search-tools">
    <img src="assets/images/marvel_characters.png">
    <div class="input-search">
        <input type="search" placeholder="Search character..." aria-label="Search" name="textSearch" [(ngModel)]="textSearch" (keyup.enter)="search()">
        <img src="assets/images/icons/search.png" alt="icon-search">
    </div>
</div>

<div class="content-results">
    <div class="row p-4 m-0 items">
        <div *ngFor="let character of characters" class="col-sm-6 mb-5">
            <character [character]="character" (eventComic)="actionComicSelected($event)"></character>
        </div>
        <h2 *ngIf="characters.length == 0">No data to display.</h2>
    </div>

    <pagination *ngIf="characters.length > 0" [pagination]="pagination" (event)="paginationEvent($event)"></pagination>

</div>