.content {
    height: 100vh;
    background: black;
    position: relative;
}

.content>img:nth-child(1) {
    height: calc(100vh - 200px);
}

.content>img:nth-child(2) {
    width: calc(100vw - 200px);
    position: absolute;
    bottom: 0px;
    right: 0;
}