<div class="comic-card" (click)="selecComic()">
    <div class="position-relative">
        <img class="btn-delete" (click)="actionDelete($event)" src="assets/images/icons/btn_delete.png" alt="icon-delete">
        <img class="coverpage" [src]="comic.thumbnail.path+'.'+comic.thumbnail.extension" alt="image-comic">
    </div>
    <h5 class="text-grey">{{comic.title}}</h5>
</div>