.comic-card {
    margin-bottom: 30px;
    max-width: 235px;
    padding-top: 1.5rem;
    position: relative;
}

.comic-card:hover>.position-relative>.coverpage {
    cursor: pointer;
    transform: scale(1.05);
    transition: all 200ms;
    -webkit-box-shadow: 24px 24px 23px -28px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 24px 24px 23px -28px rgba(0, 0, 0, 0.75);
    box-shadow: 24px 24px 23px -28px rgba(0, 0, 0, 0.75);
}

.coverpage {
    width: 200px;
    height: 250px;
}

h5 {
    color: #2D2727;
}

.btn-delete {
    position: absolute;
    top: -11px;
    opacity: 0.8;
    z-index: 1;
}

.btn-delete:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: all 200ms;
    opacity: 1;
}