<div class="head justify-content-between text-right p-4">
    <div class="title d-flex align-items-center">
        <img src="assets/images/icons/characters.png" alt="icon-character">
        <h3>Characters</h3>
    </div>

    <select class="select-custom" (change)="changeSortBy($event.target.value)">
        <option>Sort by</option>
        <option>Name (desc)</option>
        <option>Modified (desc)</option>
        <option>Name (asc)</option>
        <option>Modified (asc)</option>
    </select>
</div>


<div class="row p-4 m-0 items">
    <div *ngFor="let character of characters" class="col-sm-6 mb-5">
        <character [character]="character" (eventComic)="actionComicSelected($event)"></character>
    </div>
    <h2 *ngIf="characters.length == 0">No data to display.</h2>
</div>

<pagination *ngIf="characters.length > 0" [pagination]="pagination" (event)="paginationEvent($event)"></pagination>