.title>h3 {
    margin: 0;
    margin-left: 10px;
}

.select-custom {
    padding: 15px;
    font-family: sans-serif;
    border-radius: 2px;
    border-color: #cacaca;
    color: #716A69;
    min-width: 250px;
    font-weight: bolder;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: white;
    background-image: url("/assets/images/icons/btn_arrow_bottom.png");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 20px;
}

.select-custom>option {
    font-family: sans-serif;
}