<nav aria-label="Page navigation" *ngIf="numberPages > 1">
    <ul class="pagination row justify-content-center">
        <li class="page-item" [ngClass]="{'inactive': currentPage == 1}">
            <a class="page-link" (click)="action(currentPage - 1)">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li *ngFor="let item of getPages(); let i = index" class="page-item" [ngClass]="{'inactive': currentPage == item}">
            <a class="page-link" (click)="action(item)">{{item}}</a>
        </li>
        <li class="page-item" [ngClass]="{'inactive': numberPages <= currentPage+10}">
            <a *ngIf="numberPages > 5" class="page-link" (click)="action(currentPage + 5)" aria-label="pass">
                <span aria-hidden="true">...</span>
            </a>
        </li>
        <li class="page-item" [ngClass]="{'inactive': numberPages == currentPage}">
            <a class="page-link" (click)="action(currentPage + 1)" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>