.pagination {
    margin: 10px;
}

.page-item {
    margin: 5px;
    color: #716A69;
    -webkit-box-shadow: 3px 3px 10px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 3px 10px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 3px 10px -6px rgba(0, 0, 0, 0.75);
}

.page-item>.page-link {
    color: #716A69;
}

.inactive {
    color: black;
    -webkit-box-shadow: 0px 0px 0px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 0px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 0px -6px rgba(0, 0, 0, 0.75);
}

.inactive:hover {
    background: transparent !important;
}

.inactive>.page-link {
    color: black;
}

.page-link {
    border-radius: 2px;
    width: 40px;
    height: 40px;
    text-align: center;
}