/* You can add global styles to this file, and also import other style files */

@import "styles-vars";
@font-face {
    font-family: oldSansBlack;
    src: url(assets/fonts/TechnaSansRegular.otf) format("opentype");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'oldSansBlack', 'arial', sans-serif;
}

body.modal-open .central-content {
    -webkit-filter: blur(7px);
    -moz-filter: blur(7px);
    -o-filter: blur(7px);
    -ms-filter: blur(7px);
    filter: blur(7px);
}

::placeholder {
    color: #cacaca;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #cacaca;
}

 ::-ms-input-placeholder {
    color: #cacaca;
}

.text-grey {
    color: #716A69;
}

.text {
    color: #716A69 !important;
    font-size: 9pt;
    font-family: sans-serif;
}

.modal-custom-width {
    max-width: 700px;
}

.modal-custom-width>.modal-content {
    border-radius: 2px;
    -webkit-box-shadow: 26px 29px 21px -28px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 26px 29px 21px -28px rgba(0, 0, 0, 0.75);
    box-shadow: 26px 29px 21px -28px rgba(0, 0, 0, 0.75);
}

.close {
    position: absolute;
    right: 11px;
}

.close:hover {
    opacity: 1;
    transform: scale(1.2);
    transition: all 200ms;
}

.btn-modal {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.btn-modal:hover {
    opacity: .8;
    cursor: pointer;
}

topbar {
    nav {
        justify-content: flex-end !important;
    }
    nav>.input-search {
        width: auto !important;
        cursor: auto !important;
    }
    nav>.input-search>input {
        display: none !important;
    }
    @media (min-width: map-get($grid-breakpoints, sm)) {
        nav {
            justify-content: center !important;
        }
        nav>.input-search {
            width: 35% !important;
            cursor: pointer !important;
        }
        nav>.input-search>input {
            display: block !important;
        }
    }
}

favsbar {
    .favourites-items {
        display: flex;
        height: auto;
        overflow: auto;
        text-align: center;
    }
    @media (min-width: map-get($grid-breakpoints, lg)) {
        .favourites-items {
            max-height: 2100px;
            overflow: auto;
            text-align: center;
            display: block;
        }
    }
}

comic {
    .comic-card {
        margin: 0 1.3rem 0 1.3rem;
    }
    .btn-delete {
        right: -12px;
    }
    @media (min-width: map-get($grid-breakpoints, lg)) {
        .comic-card {
            margin: auto;
        }
        .btn-delete {
            right: 2px;
        }
    }
}

app-home {
    .head {
        display: block;
    }
    @media (min-width: map-get($grid-breakpoints, sm)) {
        .head {
            display: flex;
        }
    }
}

app-search {
    .search-tools {
        padding: 10%;
    }
    .input-search {
        width: 78%;
    }
    @media (min-width: map-get($grid-breakpoints, md)) {
        .search-tools {
            padding: 5%;
        }
        .input-search {
            width: 90%;
        }
    }
}

app-character-profile {
    .header-page {
        padding: 14%;
    }
    .header-page>h1 {
        font-size: 33pt;
    }
    .content-character>.description {
        font-size: 9pt;
    }
    .header-page>.btn {
        font-size: 7pt;
    }
    @media (min-width: map-get($grid-breakpoints, sm)) {
        .header-page {
            padding: 12%;
        }
        .header-page>h1 {
            font-size: 50pt;
        }
        .content-character>.description {
            font-size: 13pt;
        }
        .header-page>.btn {
            font-size: 10pt;
        }
    }
    @media (min-width: map-get($grid-breakpoints, md)) {
        .header-page {
            padding: 10%;
        }
        .header-page>h1 {
            font-size: 60pt;
        }
    }
    @media (min-width: map-get($grid-breakpoints, lg)) {
        .header-page {
            padding: 8%;
        }
        .header-page>h1 {
            font-size: 70pt;
        }
    }
}