<div class="modal fade" id="modalRamdomComic" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-custom-width" role="document">
        <div *ngIf="character" class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <img src="assets/images/icons/btn_close.png" alt="icon_close">
                      </button>

                <h1>Add Comics Ramdom</h1>
                <button type="button" class="btn btn-refresh" (click)="selectRandom()">
                        <img src="assets/images/icons/refresh.png" alt="icon_refresh">
                      </button>
                <div class="comics row m-0 justify-content-center">
                    <div *ngFor="let comic of character.comics.items" class="comic" [ngClass]="{'comic-fav': checkFav(comic), 'comic-selected':checkComics(comic)}">
                        <div class="name">{{comic.name}}</div>
                    </div>
                    <h1 *ngIf="character && character.comics.items.length == 0">No data to display</h1>
                </div>
            </div>
            <div class="row m-0">
                <a class="col-sm-12 p-3 btn-modal btn-add" (click)="actionAdd()">
                    <h6 class="ml-2 mb-0">ADD TO FAVOURITES</h6>
                </a>
            </div>
        </div>
    </div>
</div>