.comics {
    max-height: calc(100vh - 200px);
    overflow: overlay;
}

.comic {
    margin: 5px;
    height: 40px;
    text-align: center;
    background: #f1f1f1;
    align-items: center;
    font-size: x-small;
    position: relative;
    display: table;
    overflow: hidden;
}

.comic:hover {
    background-color: black;
    color: #f1f1f1;
    cursor: pointer;
    transform: scale(1.02);
    transition: all 200ms;
}

.comic>.name {
    width: fit-content;
    padding: 10px;
    display: table-cell;
    margin: 0;
    vertical-align: middle;
}

.comic-selected {
    position: relative;
}

.comic-selected::after {
    content: url('/assets/images/icons/checked.png');
    position: absolute;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #ec1d24;
    top: 0;
    right: 0;
}

.comic-fav::after {
    content: url('/assets/images/icons/star.png');
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000004a;
    padding-top: 6px;
}

.comic-fav:hover {
    background-color: #f1f1f1;
    color: black;
    cursor: auto;
    transform: scale(1);
}

.btn-refresh {
    background-color: #EC1D24;
    color: white !important;
    display: block;
    margin-left: auto;
}

.btn-refresh:hover {
    -webkit-box-shadow: 3px 3px 10px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 3px 10px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 3px 10px -2px rgba(0, 0, 0, 0.75);
}

.btn-add {
    background-color: #EC1D24;
    color: white !important;
}