<div class="jumbotron">
    <h1 class="display-4">Marvel App</h1>
    <p class="lead">Donec ultrices aliquet urna, in sodales tortor viverra sit amet. Duis finibus, turpis ac eleifend placerat, dolor justo ultricies ipsum, non viverra erat sapien et lorem. Duis congue metus vitae orci aliquet auctor. Cras iaculis erat vel eleifend
        vulputate. Vestibulum placerat, mauris vitae porttitor vestibulum, ex ipsum scelerisque sem, sit amet viverra purus lectus quis velit. Vestibulum blandit enim urna, id pharetra dolor dignissim in. Aenean feugiat fermentum felis, ut mattis augue
        finibus nec</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam commodo ex ac enim consequat, et pulvinar lorem consectetur. Duis sit amet quam vitae lorem sollicitudin semper ut quis sapien.</p>
    <a class="btn btn-primary btn-lg text-light" routerLink="/app/home" role="button">Home</a>
</div>